@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

.cell {
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    background-color: rgb(132, 169, 140);
}

.cell.no-border-top {
    border-top: none;
}

.cell.no-border-left {
    border-left: none;
}

.cell.no-border-bottom {
    border-bottom: none;
}

.cell.no-border-right {
    border-right: none;
}

body {
    background-color: rgb(53, 79, 82);
    min-height: 100%;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1%;
    background-color: rgb(53, 79, 82);
    border-radius: 10px;
    width: 90vw;
    margin: 0 auto;
    padding-top: 10px;
}

.top-page {
    background-color: rgb(82, 121, 111);
    display: flex;
    flex-direction: row;
    flex-grow: 0.3;
    justify-content: space-around;
    gap: 10%;
    border-radius: 15px;
    align-items: center;
    padding-top: 20px;
}

.logo {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50%;
    height: 70%;
}

.turn {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    align-self: end;
}

.turn-icon {
    width: 40%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

.turn-icon img {
    display: flex;
    flex-grow: 0.3;
}

.turn p {
    font-size: 200%;
    flex-grow: 1;
    margin: 0;
}

.return-menu {
    display: flex;
    flex-grow: 1;
    width: 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.return-menu img {
    width: 40%;
    height: 40%;
}

.bottom-page {
    position: relative;
    background-color: rgb(82, 121, 111);
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    gap: 2%;
    border-radius: 10px;
    height: min-content;
}



.grid-container {
    height: 70vw;
    width: 70vw;
    display: grid;
    padding: 10px;
    align-self: center;
}

.points-container {
    flex-direction: column;
    width: 20vw;
    align-self: center;
    display: flex;
}

.hide {
    opacity: 0;
}

.points-container div {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.points-container img {
    width: 25%;
    height: 30%;
}

.points-container p {
    font-size: 150%;
    color: #E3B448;
}

.player-icon {
    width: 30%;
}

.end-game {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(132, 169, 140);
}

.end-game.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.end-icon {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.end-icon > .player-icon {
    width: auto;
}

.end-game.show p {
    font-size: 50px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .bottom-page {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo img {
        width: 50%;
        height: 40%;
    }

    .return-menu img {
        width: 60%;
        height: 60%;
    }

    .turn p {
        font-size: 150%;
    }

    turn-icon {
        width: 40%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .points-container {
        flex-direction: row;
        display: flex;
        width: 70%;
        align-items: stretch;
    }

    .points-container img {
        width: 30%;
        height: 30%;
    }

    .points-container p {
        font-size: 100%;
    }

    .grid-container {
        height: 70vw;
        width: 70vw;
        align-self: center;
    }

    .end-game.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
    }
    
    .end-game.show p {
        font-size: 20px;
    }

    .container {
        height: 97vh;
    }
}