@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Caesar Dressing', cursive;
}

#game-name {
    font-size: 5em;
    text-align: center;
    margin: 1em 0 1em 0;
}

.cell {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

.player-icon {
    width: 20%;
}

#logo {
    width: 20%;
    text-align: center;
    margin: 1em 0 1em 0;
}